.book-form h4{
    color: #333;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%; /* 35.314px */
    margin-bottom: 18px;
}
.about-store h4{
    color: #333;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%; /* 58.856px */
    margin-bottom: 20px;
}
.add_book_box form{
    padding: 16px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.add_book_box form .input_box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.add_book_box form .input_box label{
    color: #030102;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add_book_box form .input_box textarea,
.add_book_box form .input_box input{
    border-radius: 10px;
    border: 1px solid #E2E6EE;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
    padding:0 8px;
    color: #030102;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: 0;
    line-height: normal;
}
.add_book_box form .input_box input{
    height: 40px;
}
.add_book_box form .input_box textarea{
    min-height: 90px;
}
.add_book_box form  button{
    border-radius: 10px;
    background: #FF8B00;
    padding: 12px 24px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    outline: 0;
    cursor: pointer;
}